#heading{
    color: black;
    line-height: 0;
}

.copyright{ 
    margin-top: -10px;
    margin-left: 1px;
} 

#copyandsearch{
   display: flex; 
   align-items: center;
   justify-content: space-between; 
   flex-wrap: wrap;
   margin-top: -20px;
}

#logo{
    height: 50px;
}
#mainheading{
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    flex-wrap: wrap;
    

}
#logoandheading{
    display: flex; 
    align-items: center;
    margin-top: -20px;
}

#search{
    margin-right: 30px;
}

#searchbar{
    width: 100%; 
    border: 0; 
    outline: none; 
    background: #262626; 
    padding: 10px 5px; 
    margin: 15px 0; 
    color: #fff; 
    font-size: 18px; 
    border-radius: 6px; 
}
#searchbutton{
    padding: 5px 10px; 
    font-size: 18px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 6px; 

}
#box1{
    border:5px solid;
    width:300px;
    height:300px;
    margin-left:325px;
    margin-top: 50px;

}

#box2{
    border:5px solid;
    width:300px;
    height:300px;
    margin-left: 100px;
    margin-top: 50px;
    
}

.copyrightbottom{
    width: 100%;
    text-align: center;
    padding: 5px 0;
    background: #0e0d0d;
    font-weight: 300;
    margin-top: 220px;
    color: #f3ebeb;
}

.copyrightbottom span{
    color: #ff004f;
        


}

